.login-page-row {
    height: 100vh!important;
}

.login-page-row .ant-col {
    height: 100%;
}

.login-page-row .ant-col.form-col {
    background: #242E43;
    display: flex
}

.login-page-row .ant-col.form-col .login-form {
    width: 65%;
    margin: auto;
}

.login-page-row .ant-col.form-col .login-form .ant-form-item {
    margin-bottom: 15px;
    text-align: center;
}

.login-page-row .ant-col.form-col .login-form .ant-form-item input {
    border-radius: 2px;
    background: #20293D;
    border: 1px solid #5E6b7D;
    color: #5E6b7D;
}

.login-page-row .ant-col.form-col .login-form .ant-form-item input::placeholder {
    color: #5E6b7D;
}

.login-page-row .ant-col.form-col .login-form .ant-form-item .anticon {
    color: #5E6b7D;
}

.login-page-row .ant-col.form-col .login-form .login-form-link {
    text-decoration: underline;
}

.login-page-row .ant-col.form-col .login-form .login-form-link.right {
    float: right;
}

.ant-col .ant-form-item-label {
    width: 100%;
    text-align: left;
}

.login-page-row.ant-row .ant-form-item {
    text-align: left;
}

.login-page-row.ant-row .ant-form-item .ant-form-item-label > label {
    color: #5E6b7D;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .video-col {
        display: none;
    }
}